*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Raleway', sans-serif;
	color: #888a8c;
	/*line-height: 25px;*/
}
.container1{
	margin: 0 auto;
	width: 85%;
}
.container1 img{
	/*height: 100px;*/
	width: 100%;
}
/**/
.container2{
	margin: 0 auto;
	width: 85%;	
	display: flex;
	justify-content: space-between;
}
.contact-1 li{
	list-style: none;
	display: inline-block;
	padding: 10px 15px;
	margin-right: 30px;
	border-left: 1px solid #e9e9e8;
	font-size: 14px;
}
.contact-1 a{
	text-decoration: none;
	color: #0a2745;
}
.contact-2 a{
	color: #888a8c;
}
.container2 a:hover{
	color: #ffae00;
}
.contact-1 i{
	color: #ffae00;
	padding-right: 8px;
}
.contact-1 li:last-child{
	border-right: 1px solid #e9e9e8;
}
.contact-2{
	border-right: 1px solid #e9e9e8;
	border-left: 1px solid #e9e9e8;
	padding: 13px 0;
	/*align-content: center;*/
}
.contact-2 li{
	list-style: none;
	display: inline-block;
	padding: 0 12px;
}
/**/
.banner3{
	    background: rgba(7,28,51,.85);
	    padding: 8px 0;
	    /*margin: 0;*/
	    position: sticky;
	    top: 0;
}
.container3{
	margin: 0 auto;
	width: 85%;
	display: flex;
}
.header-tittle{
	width: 40%;
}
.header-tittle h3{
	font-size: 30px;
	color: #ffae00;
	padding: 10px 15px 8px;
	cursor: pointer;
	font-weight: ;
}
.header-list{
	width: 60%;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}
.header-list li{
	display: inline-block;
	list-style: none;
	padding: 0 15px;
	color: #ffffff;
}
.header-list a{
	text-decoration: none;
	color: #ffffff;
}
.header-list a:hover{
	color: #ffae00;
}
/**/
.banner4{
	background-image: url("../img/slide-1.jpg");
	background-size: 100%  100%;
	height: 450px;
	margin-bottom: 70px;
}
.container4{
	margin: 0 auto;
	width: 85%;
	display: flex;
	justify-content: center;
	/*flex-wrap: wrap;*/
	text-align: center;
	align-content: center;
}
/*.container4-inner{
	height: 300px;
}*/
.container4 h1{
	margin-top: 60px;
	/*width: 100%;*/
	/*margin-top: 40px;*/
	margin-bottom: 5px;
	
}
.container4 span{
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	
}
.container4 h1 > .number{
	font-size: 40px;
	/*font-weight: 300;*/
}
.container4 h3{
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 20px;
	word-spacing: 5px;
}
.container4 p{
	font-weight: 400;
	font-size: 24px;
	color: #fff;
	padding-bottom: 60px;
}
.container4 a{
	padding: 11px 40px;
	margin: 0 5px;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 30px;
	display: inline-block;	
	text-decoration: none;
	color: white;
	font-weight: 600;
	/*font-size: ;*/
	text-transform: uppercase;
}
.container4 a:hover{
	background-color: #ffae00;
}
/**/
.banner5{
	padding-bottom: 12px;
}
.container5{
	margin: 0 auto;
	width: 85%;
	display: flex;
}
.box1,.box2,.box3{
	width: 33.3%;
	padding: 0 15px;
	margin-bottom: 50px;
}
.container5  span{
	color: #0a2745;
	font-weight: ;
	font-size: 24px;
	/*margin-bottom: 30px;*/
}
.border{
	width: 70px;
	height: 2px;
	background: #ffae00;
	margin: 17px 0 30px;
}
.container5 p{
	font-size: 15px;	
	padding-bottom: 25px;
	line-height: 25px;
}
/**/
.banner6{
	background-color: #ffae00;
}
.container6{
	margin: 0 auto;
	width: 85%;
	display: flex;
}
.banner6-1,.banner6-2,.banner6-3,.banner6-4{
	width: 25%;
	border-left: 1px solid #ffbe33;
	color: #ffffff;
	text-align: center;
	padding: 30px 0 45px;
	font-weight: 100;
	font: 300 68px/68px  sans-serif;
}
.banner6-4{
	border-right: 1px solid #ffbe33;
}

.container6 span{
	font-size: 16px;
	padding-bottom: 10px;
	display: block;
	font-weight: 700;
}
/**/




.banner7{
	padding-top: 80px;
}
.container7{
	margin: 0 auto;
	width: 85%;
	display: flex;
	/*flex-wrap: wrap;*/
	/*align-items: flex-start;*/
}
.column-1,.column-2,.column-3{
	width: 33.3%;
	display: flex;
	flex-direction: column;
}
.banner7-1,.banner7-2,.banner7-3,.banner7-4,.banner7-5,.banner7-6,.banner7-7{
	/*width: 33.3%;*/
	/*background-color: orange;*/
	padding: 0 15px;
	margin-bottom: 30px;
	text-align: right;
	display: flex;
	/*width: 80%;*/
	flex-direction: row-reverse;
}
.banner7-3,.banner7-5,.banner7-7{
	text-align: left;
	flex-direction: row;
}
.container7 h5{
	color: #0a2745;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 25px;
	opacity: .9;
}
.container7 p{
	font-size: 15px;
	line-height: 25px;
	/*font-weight: 500;*/
}
.column-1 i{
	padding: 15px;
	border: 1px solid #ffae00;
	border-radius: 50%;
	background-color: #ffae00;
	font-size: 38px;
	color: #ffffff;
	margin-left: 30px;
}
.column-2 img{
	width: 100%;
}
.column-3 i{
	padding: 15px;
	border: 1px solid #ffae00;
	border-radius: 50%;
	background-color: #ffae00;
	font-size: 38px;
	color: #ffffff;
	margin-right: 30px;
}
/**/
.banner8{
	padding-top: 85px;
}
.container8{
	margin: 0 auto;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
}
.banner8 h1{
	margin-bottom: 30px;
	width: 100%;
	text-align: center;
	color: #0a2745;
	font-weight: normal;
}
.banner8-1,.banner8-2,.banner8-3{
	width: 33.3%;
	padding: 75px 15px 0;
	margin-bottom: 50px;
}
.banner8 img{
	width: 100%;
	margin-bottom: 30px;
}
.banner8 h4{
	font-size: 23px;
	line-height: 32px;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	opacity: .9;
}
.banner8  h4 > a{
	text-decoration: none;
	color: #0a2745;
	opacity: .9;
}
.banner8 h4 > a:hover{
	color: #ffae00;
}
.banner8 p{
	font-size: 14.5px;
	line-height: 25px;
	/*word-spacing: .20;*/
}
.icon{
	margin-bottom: 17px;
}
.icon-text{
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}
.icon a{
	text-decoration: none;
	color: #888a8c;
}
.icon a:hover{
	color: #ffae00;
}
.icon i{
	color: #ffae00;
	margin-right: 2px;
	padding-top: 3px;
}
.text{
	font-weight: 700;
	letter-spacing: 0.025em;
}
.text a{
	text-decoration: none;
	color: #ffae00;
}
span.text a: hover{
	color: #0a2745;
	
}
/**/
.banner9{
	background: #071c33;
	padding: 65px 0 15px;
}
.container9{
	margin: 0 auto;
	width: 85%;
	display: flex;

}
.banner9-inner1{
	padding: 0 15px;
	flex-basis: 25%;
	
}
/*.banner9-inner1*/ h2{
	color: #ffae00;
	font-size: 30px;
	margin-bottom: 15px;
}
.banner9-inner1 p{
	padding-bottom: 25px;
    color: rgba(255, 255, 255, 0.5);
}
.banner9-inner1 p.address{
	color: #ffffff;
	line-height: 25px;		
}
.banner9-inner1 p.phone,p.fax,p.mail{
	padding-bottom: 0;
	line-height: 25px;
	color: rgb(93, 109, 126);
	font-size: 15px;
	/*min-width: 30px;		*/
}
.banner9-inner1 p.mail{
	padding-bottom: 25px;
}
.banner9-inner1 a{
	text-decoration: none;
	color: rgb(93, 109, 126);
}
.banner9-inner1 a.mail{
	color: rgb(254, 188, 102);
	padding-left: 5px;
}
.banner9-inner1 a.phone:hover{
	color: rgb(255, 174, 0);
}
.banner9-inner1 a.mail:hover{
	color: #ffffff;
}

.banner9-inner2{
	flex-basis: 16.66%;
	padding: 0 15px;
}
.banner9-inner2 h6{
	margin-bottom: 25px;
	font-weight: normal;
}
.container9-2 span{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
}
.banner9-inner2 ul{
	margin-bottom: 25px;
}
.banner9-inner2 li{
	list-style: none;
	margin-top: 15px;
	font-size: 15px;
	opacity: .9;
}
.banner9-inner2 li:first-child{
	margin-top: 0;
}
.banner9-inner2 i{
	color: #ffae00;
	font-size: 8px;
	padding-right: 20px;
}
.banner9-inner2 a{
	text-decoration: none;
	color: #ffae00;
}
.banner9-inner2 a:hover{
	color: #ffffff;
}

.banner9-inner3{
	flex-basis: 25%;
	padding: 0 15px;
}
.banner9-inner3 h5{
	margin-bottom: 25px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
}
h6.container9-3 {
	font-size: 15px;
	color: #ffae00;
	line-height: 25px;
	font-weight: normal;
	opacity: .9;
}
h6.container9-3-1{
	font-size: 15px;
	color: #ffae00;
	line-height: 25px;
	font-weight: normal;
	opacity: .9;
	padding-top: 25px;
}

.container9-3 a{
	text-decoration: none;
	color: #ffae00;
}
.container9-3 a:hover{
	color: #ffffff;
}
.container9-3-1 a{
	text-decoration: none;
	color: #ffae00;
}
.container9-3-1 a:hover{
	color: #ffffff;
}
p.haha{
	font-size: 14px;
	color: #5d6d7e;
	padding-bottom: 25px;
	line-height: 25px;
	border-bottom: 1px solid #5d6d7e;
}
p.haha1{
	font-size: 14px;
	color: #5d6d7e;
	line-height: 25px;
	margin-bottom: 25px;
}




.banner9-inner4{
	flex-basis: 33.3%;
	padding: 0 15px;

}
.banner9-inner4 ul{
	display: flex;
	justify-content: space-between;
}

.banner9-inner4 li{
	list-style: none;
	
	margin-left: 10%;
	max-width: 110px;
}
.banner9-inner4 a{
	text-decoration: none;
	color: #ffffff;
	/*position: auto;*/
}

.banner9-inner4 i.fa-facebook-f{
	padding: 10px 5px 5px 0;
	color: #547abb;
}
.banner9-inner4 i.fa-wifi{
	padding: 10px 5px 5px 0;
	color: #ffae00;
}




/**/
.container10{
	margin: 0 auto;
	width: 85%;
}
.container10 img{
	width: 100%;
}
/**/
.banner11{
	margin: 25px 0;
}
.container11{
	margin: 0 auto;
	width: 85%;
	display: flex;
	justify-content: space-between;
	color: #0a2745;
	opacity: .9;
}
.copyright-text :first-child{
	margin-right: 5px;
}
.copyright-text a{
	text-decoration: none;
	color: #0a2745;
	margin-left: 5px;
	display: inline-block;
}
.copyright-text a:hover{
	color: #ffae00;
}
.copyright-text p{
	padding-bottom: 25px;
	margin-top: 10px;
}
.copyright-img li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	font-size: 24px;
	opacity: 1;		
}
.copyright-img a{
	color: rgba(7,28,51,.85);
}
.copyright-img a:hover{
	color: #ffae00;
}

